/** @define Menu */

@import '~/styles/all.scss';

.Menu {
  align-items: center;
  display: flex;
  position: fixed;
  bottom: 0;
  background-color: palette(neutral, menu);
  height: 60px;
  z-index: 10;
  width: 100%;

  @include lg {
    flex: 1 auto;
    font-family: themefont(), sans-serif;
    justify-content: center;
    height: 100%;
    position: relative;
  }
}

.Menu__Logo {
  position: fixed;
  top: 0;
  height: 80px;
  width: 80px;
  left: calc(50% - 40px);
  z-index: 15;

  @include lg {
    position: relative;
    left: auto;
    top: auto;
  }
}
