@import "https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700&display=swap";
@import "https://fonts.googleapis.com/css2?family=Gabarito:wght@400;500;600;700&display=swap";
*, :before, :after {
  box-sizing: border-box;
}

ul[class], ol[class] {
  padding: 0;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
  background-color: palette(neutral, menu);
  line-height: 1.5;
  overflow-x: hidden;
}

ul[class], ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input, button, textarea, select {
  font-size: 100%;
}

@media (prefers-reduced-motion: reduce) {
  * {
    scroll-behavior: auto !important;
    transition-duration: .01ms !important;
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
  }
}

h6 {
  color: #fff;
  width: 150px;
  background-color: #d1041e;
  border-radius: 8px;
  padding: 8px;
  font-family: Gabarito;
  font-size: .8rem;
  position: relative;
}

h3 {
  font-weight: bold;
}

table {
  color: #fff;
}

select, button {
  max-width: 300px;
}

.Shop {
  color: #fff;
  width: 100%;
  z-index: 3;
  margin: 8px;
  position: relative;
}

@media (min-width: 992px) {
  .Shop {
    margin: 0;
  }
}

.Shop__Items {
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

@media (min-width: 768px) {
  .Shop__Items {
    flex-direction: row;
  }
}

.Shop__Item {
  flex: 100%;
  margin: 32px 0;
  display: grid;
  position: relative;
}

@media (min-width: 768px) {
  .Shop__Item {
    flex: 50%;
    margin: 32px;
  }
}

@media (min-width: 1200px) {
  .Shop__Item {
    flex: 33%;
  }
}

.Shop__Item h3 {
  font-family: Gabarito;
  font-size: 1rem;
}

.Shop__ItemImage {
  height: auto;
  max-height: 200px;
}

@media (min-width: 992px) {
  .Shop__ItemImage {
    height: auto;
    max-height: 300px;
  }
}

.Shop__Form {
  flex-direction: column;
  display: flex;
}

.Shop__ItemDescription {
  width: 55%;
  padding: 16px;
}

.Shop__Button {
  cursor: pointer;
  color: #fff;
  background-color: #10ac84;
  border: none;
  border-radius: 4px;
  margin-top: 8px;
  padding: 8px 32px;
  font-family: Gabarito;
  font-size: 1rem;
  transition: all .5s ease-in-out;
}

.Shop__Button:hover {
  background-color: #10ac84b3;
}

.ResultContainer {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 100px;
  display: flex;
}

.Results, .Ladder {
  width: 100%;
}

.Errors {
  color: #fff;
  height: calc(var(--vh, 1vh) * 100 - 100px);
  background-color: #d1041e;
  flex-direction: column;
  align-items: center;
  padding: 64px;
  font-family: Gabarito, sans-serif;
  display: flex;
  overflow: hidden;
}

.Errors__title {
  font-size: 3rem;
  font-weight: bold;
}

.Errors__code {
  font-size: 2rem;
}

*, :before, :after {
  box-sizing: border-box;
}

ul[class], ol[class] {
  padding: 0;
}

body, h1, h2, h3, h4, p, ul[class], ol[class], li, figure, figcaption, blockquote, dl, dd {
  margin: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizespeed;
  background-color: palette(neutral, menu);
  line-height: 1.5;
  overflow-x: hidden;
}

ul[class], ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input, button, textarea, select {
  font-size: 100%;
}

@media (prefers-reduced-motion: reduce) {
  * {
    scroll-behavior: auto !important;
    transition-duration: .01ms !important;
    animation-duration: .01ms !important;
    animation-iteration-count: 1 !important;
  }
}

h6 {
  color: #fff;
  width: 150px;
  background-color: #d1041e;
  border-radius: 8px;
  padding: 8px;
  font-family: Gabarito;
  font-size: .8rem;
  position: relative;
}

h3 {
  font-weight: bold;
}

table {
  color: #fff;
}

select, button {
  max-width: 300px;
}

.Shop {
  color: #fff;
  width: 100%;
  z-index: 3;
  margin: 8px;
  position: relative;
}

@media (min-width: 992px) {
  .Shop {
    margin: 0;
  }
}

.Shop__Items {
  flex-flow: column wrap;
  justify-content: space-between;
  align-items: center;
  display: flex;
}

@media (min-width: 768px) {
  .Shop__Items {
    flex-direction: row;
  }
}

.Shop__Item {
  flex: 100%;
  margin: 32px 0;
  display: grid;
  position: relative;
}

@media (min-width: 768px) {
  .Shop__Item {
    flex: 50%;
    margin: 32px;
  }
}

@media (min-width: 1200px) {
  .Shop__Item {
    flex: 33%;
  }
}

.Shop__Item h3 {
  font-family: Gabarito;
  font-size: 1rem;
}

.Shop__ItemImage {
  height: auto;
  max-height: 200px;
}

@media (min-width: 992px) {
  .Shop__ItemImage {
    height: auto;
    max-height: 300px;
  }
}

.Shop__Form {
  flex-direction: column;
  display: flex;
}

.Shop__ItemDescription {
  width: 55%;
  padding: 16px;
}

.Shop__Button {
  cursor: pointer;
  color: #fff;
  background-color: #10ac84;
  border: none;
  border-radius: 4px;
  margin-top: 8px;
  padding: 8px 32px;
  font-family: Gabarito;
  font-size: 1rem;
  transition: all .5s ease-in-out;
}

.Shop__Button:hover {
  background-color: #10ac84b3;
}

.ResultContainer {
  width: 100%;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 100px;
  display: flex;
}

.Results, .Ladder {
  width: 100%;
}

.Edito {
  width: 100%;
  min-height: calc(var(--vh, 1vh) * 100 - 100px);
  justify-content: center;
  margin: 100px 0;
  display: flex;
  position: relative;
}

@media (min-width: 992px) {
  .Edito {
    margin: 100px 0 0;
  }
}

.Edito__imageContainer {
  height: calc(var(--vh, 1vh) * 100 - 75px);
  width: 100%;
  background-color: #1515154d;
  position: fixed;
}

.Edito__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.Edito__overlay {
  height: calc((var(--vh, 1vh) * 100)  + 32px);
  z-index: 2;
  background-color: #0000004d;
  position: fixed;
  inset: 0 0 -40px;
}

@media (min-width: 992px) {
  .Edito__overlay {
    bottom: 0;
  }
}

.Edito__content {
  width: 100%;
  z-index: 2;
  color: #151515;
  background-color: #fff;
  border-radius: 24px;
  margin-top: 32px;
  padding: 32px;
  font-family: Gabarito;
  font-size: 1rem;
}

@media (min-width: 992px) {
  .Edito__content {
    width: 80%;
    margin-top: 64px;
  }
}

.Edito__content img {
  filter: drop-shadow(2px 4px 6px #000);
  border-radius: 12px;
}

.Edito a {
  color: #151515;
  font-weight: 700;
  text-decoration: underline;
}

/*# sourceMappingURL=Edito.a1d3d25f.css.map */
