/** @define Season */

.Season__imageContainer {
  position: fixed;
  height: calc((var(--vh, 1vh) * 100) - 75px);
  width: 100%;
  background-color: rgba(palette(neutral, black), 0.3);
}

.Season__image {
  height: 100%;
  object-fit: cover;
  width: 100%;
}

.Season__overlay {
  top: 0;
  bottom: -40px;
  left: 0;
  right: 0;
  height: calc((var(--vh, 1vh) * 100) + #{$size-l});
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 2;
  position: fixed;

  @include lg {
    bottom: 0;
  }
}

.Season__content {
  color: palette(neutral, white);
  display: flex;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 0.9rem;
  justify-content: center;
  margin-top: 100px;
  padding-top: $size-m;
  z-index: 2;
}

.Season__tabs {
  width: 100%;

  @include lg {
    width: 80%;
  }
}
