/** @define Header */

@import '~/styles/all.scss';

.Header {
  background: none;
  position: relative;
  height: 0;

  @include lg {
    background-color: palette(neutral, menu);
    height: 100px;
  }
}
