/** @define MobileMenu */

@import '~/styles/all.scss';

.MobileMenu {
  background-color: palette(neutral, menu);
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 75px;
  transform: scaleY(0);
  overflow: hidden;
  transition: transform 0.5s ease-in-out;
  transform-origin: bottom;
  width: 100%;
  z-index: 3;

  @include lg {
    display: none;
  }

  &.is-open {
    transform: scaleY(1);
    transform-origin: bottom;
    transition: transform 0.5s ease-in-out;
  }
}

.MobileMenu_open {
  display: flex;
  height: auto;
  transform: scaleY(1);
  transform-origin: bottom;
  transition: transform 0.5s ease-in-out;
  width: 100%;

  @include lg {
    display: none;
  }
}

.MobileMenu__Links {
  list-style: none;
  font-family: themefont();
}

.MobileMenu__Link {
  color: palette(neutral, white);
  padding: 0 $size-s;
  text-decoration: none;
}

.MobileMenu__LinkContainer {
  border-bottom: 1px solid palette(neutral, white);
  padding: $size-m 0;
}
