h6 {
  color: palette(neutral, white);
  width: 150px;
  font-size: 0.8rem;
  font-family: themefont();
  padding: $size-s;
  position: relative;
  background-color: palette(neutral, red);
}

h3 {
  font-weight: bold;
}

.grayscale {
  @include lg {
    filter: grayscale(1);
    transition: all 0.5s ease-in-out;

    &:hover {
      filter: none;
    }
  }
}

table {
  color: palette(neutral, white);
}

.Shop {
  color: palette(neutral, white);
  position: relative;
  margin: $size-s;
  width: 100%;
  z-index: 3;

  @include lg {
    margin: 0;
  }
}

.Shop__Items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;

  @include md {
    flex-direction: row;
  }
}

.Shop__Item {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 100%;
  margin: $size-l 0;
  height: auto;
  justify-content: flex-start;
  position: relative;

  @include md {
    flex: 1 1 50%;
  }

  @include xl {
    flex: 1 1 33%;
  }

  h3 {
    font-family: themefont();
    font-size: 1rem;
  }
}

.Shop__ItemImageContainer {
  display: flex;
  align-items: center;
  height: 200px;
  min-height: 200px;

  @include lg {
    height: 420px;
    min-height: 420px;
  }
}

.Shop__ItemImage {
  height: 200px;
  width: auto;

  @include lg {
    height: auto;
  }
}

.Shop__Form {
  display: flex;
  flex-direction: column;
  height: 240px;
}

.Shop__ItemDescription {
  padding: $size-m;
  width: 55%;
}

.Shop__Button {
  background-color: palette(neutral, green);
  border: none;
  cursor: pointer;
  color: palette(neutral, white);
  font-size: 1rem;
  padding: $size-s $size-l;
  margin-top: $size-s;
  border-radius: 4px;
  transition: all ease-in-out 0.5s;
  font-family: themefont();

  &:hover {
    background-color: rgba(palette(neutral, green), 0.7);
  }
}

/** Ladder **/
.ResultContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  margin-bottom: 100px;
}

.Results {
  width: 100%;
  height: 430px;
}

.Ladder {
  width: 100%;
}
