@import 'palette.scss';
@import 'font.scss';
@import 'size.scss';

h6 {
  color: palette(neutral, white);
  width: 150px;
  font-size: 0.8rem;
  font-family: themefont();
  padding: $size-s;
  position: relative;
  background-color: palette(neutral, red);
}

.grayscale {
  filter: grayscale(1);
  transition: all 0.5s ease-in-out;

  &:hover {
    filter: none;
  }
}

table {
  color: palette(neutral, white);
}
